<div class="wholePage">
    <h1>ANGULARPRAC4</h1>
    <div class="P-leftAndRightSide">
        <div class="P-leftSideForm">
            <form>
                <div class="form-group">
                    <label>Card Name</label>
                    <input type="text" name="">
                </div>

                <div class="form-group">
                    <label>Card Number</label>
                    <input type="text" name="">
                </div>

                <div class="form-group form-group-inline">
                    <div>
                        <label>Expiry Month</label>
                        <input type="text" name="">
                    </div>

                    <div>
                        <label>Expiry Year</label>
                        <input type="text" name="">
                    </div>

                    <div>
                        <label>CVC</label>
                        <input type="text" name="">
                    </div>
                </div>
                <div class="form-group">
                    <button>Save</button>
                </div>
            </form>
        </div>
    </div>

</div>